In [5]:
features <- read.csv("/Users/patriciomartinez/Documents/GitHub/WalmartSalesForecast/features.csv", header = TRUE, sep = ",")
head(features)

  Store Date       Temperature Fuel_Price MarkDown1 MarkDown2 MarkDown3
1 1     2010-02-05 42.31       2.572      NA        NA        NA
2 1     2010-02-12 38.51       2.548      NA        NA        NA
3 1     2010-02-19 39.93       2.514      NA        NA        NA
4 1     2010-02-26 46.63       2.561      NA        NA        NA
5 1     2010-03-05 46.50       2.625      NA        NA        NA
6 1     2010-03-12 57.79       2.667      NA        NA        NA
  MarkDown4 MarkDown5 CPI      Unemployment IsHoliday
1 NA        NA        211.0964 8.106        FALSE
2 NA        NA        211.2422 8.106         TRUE
3 NA        NA        211.2891 8.106        FALSE
4 NA        NA        211.3196 8.106        FALSE
5 NA        NA        211.3501 8.106        FALSE
6 NA        NA        211.3806 8.106        FALSE

In [4]:
stores <- read.csv("/Users/patriciomartinez/Documents/GitHub/WalmartSalesForecast/features.csv")
head(stores)

  Store Date       Temperature Fuel_Price MarkDown1 MarkDown2 MarkDown3
1 1     2010-02-05 42.31       2.572      NA        NA        NA
2 1     2010-02-12 38.51       2.548      NA        NA        NA
3 1     2010-02-19 39.93       2.514      NA        NA        NA
4 1     2010-02-26 46.63       2.561      NA        NA        NA
5 1     2010-03-05 46.50       2.625      NA        NA        NA
6 1     2010-03-12 57.79       2.667      NA        NA        NA
  MarkDown4 MarkDown5 CPI      Unemployment IsHoliday
1 NA        NA        211.0964 8.106        FALSE
2 NA        NA        211.2422 8.106         TRUE
3 NA        NA        211.2891 8.106        FALSE
4 NA        NA        211.3196 8.106        FALSE
5 NA        NA        211.3501 8.106        FALSE
6 NA        NA        211.3806 8.106        FALSE

In [6]:
test <- read.csv("/Users/patriciomartinez/Documents/GitHub/WalmartSalesForecast/test.csv")
head(test)

  Store Dept Date       IsHoliday
1 1     1    2012-11-02 FALSE
2 1     1    2012-11-09 FALSE
3 1     1    2012-11-16 FALSE
4 1     1    2012-11-23  TRUE
5 1     1    2012-11-30 FALSE
6 1     1    2012-12-07 FALSE

In [7]:
train <- read.csv("/Users/patriciomartinez/Documents/GitHub/WalmartSalesForecast/train.csv")
head(train)

  Store Dept Date       Weekly_Sales IsHoliday
1 1     1    2010-02-05 24924.50     FALSE
2 1     1    2010-02-12 46039.49      TRUE
3 1     1    2010-02-19 41595.55     FALSE
4 1     1    2010-02-26 19403.54     FALSE
5 1     1    2010-03-05 21827.90     FALSE
6 1     1    2010-03-12 21043.39     FALSE